{% extends 'base.html' %}

{% block main %}

<h1 class="mt-5">Auto Export for Apple Health</h1>

{% if not request.user.is_authenticated %}
<div class="row">
  <div class="col-md">
    <p>
      Connect to your <i>Open Humans</i> account to store your data from <i>Apple Health</i> on your iPhone.
    </p>
    <a href="{{ auth_url }}" class="btn btn-primary">
      Connect to Open Humans
    </a>
  </div>
  <div class="col-md">
    <h2>What is <i>Auto Export for Apple Health</i>?</h2>
    <p>
    Auto Export for Apple Health is app <a href='https://apple.co/3iqbU2d'>for iOS</a>.
    It allows you to regularly send data that's stored in the <i>Apple Health</i> app on your iPhone to another service.
    </p>
    <h2>What does this website do?</h2>
    <p>
    If you log in with your <i>Open Humans</i> account you can use this app to transfer your <i>Apple Health</i> data to your <i>Open Humans</i> account.
    </p>
    <p>This project is run by <a href="https://openhumansfoundation.org/">the Open Humans Foundation</a> and governed by the
      <a href="https://www.openhumans.org/terms/">Open Humans terms of use</a>.
    </p>
    <p>
      You can read more about its code, operation, and data management in our <a href='{% url 'about' %}'>About/FAQ page</a>.</p>
    <h2>Will <i>Open Humans</i> make my Apple Health data publicly available?</h2>
    <p>
    The short answer: No.<br>
    The long answer: Data is private by default. If you want to, you can opt to make data sets publicly available on <i>Open Humans</i> and/or share it with other projects, but you can always keep data private.
    </p>
  </div>
</div>
{% else %}

<div class="row">
  <div class="col-md">
    <h3>Setting up the <i>Apple Health Auto Export</i></h3>
    <p>
      To push data from the <i>Apple Health Auto Export</i> app on your phone to <i>Open Humans</i> you need enter the correct <i>URL</i> in the app.
    </p>
      <h4>From your iPhone</h4>
        <p>
        If you are on your iPhone you just need to click the button below. It will automatically open the
        <i>Apple Health Auto Export</i> app and do the setup for you.
        </p>
      <p>
      <a class='btn btn-primary' href="{{exporter_endpoint}}">Setup Auto Export</a>
      </p>
    <h4>From your computer</h4>
    <p>
      If you are on your computer right now you can just scan the QR code below with your iPhone.
      It will automatically open the app and set up everything for you!
    </p>
    <p>
      <div id="qrcode"></div>
      <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
      <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "{{ exporter_endpoint }}");
      </script>
    </p>
  </div>
  <div class="col-md">
    <h2>
      Manual setup on your <i>iPhone</i>
    </h2>
  <p>
    To get started you will need your URL to which you want to sent your data. This will link to your own endpoint on this website:<br/>
    <code name='overland_url'>{{exporter_url}}</code>
    <button id="copy" class='btn btn-primary'>Copy URL</button>

    After you have copied your personal URL you can enter it in your <i>Auto Export</i> app on your phone:
    <ul>
      <li>Open the <i>Auto Export</i> app</li>
      <li>Select the <i>Automations</i> tab in the bottom</li>
      <li>Click on <i>API Export</i></li>
      <li>On the very top you find the <i>endpoint</i> field</li>
      <li>Paste your URL there></li>
      <li>Check that the <i>Enabled</i> button is turned on</li>
    </ul>
    <p>
    In principle you are now good to go with these default settings. There are a couple of settings that you can change if you want:
    <ul>
      <li><b>Categories:</b> You can select which of the health metrics stored in <i>Apple Health</i> you want to send to <i>Open Humans</i>.</li>
      <li><b>Sync Cadence:</b> How often do you want to send your data to Open Humans? The highest frequency is once per hour, but you can do it more rarely if you want.</li>
      <li><b>Period:</b>Data from which time period should be sent? By default it's always all data for the current day and the day before, but you can also choose only today's data, yesterday's data or even the previous 7 days.</li>
      <li><b>Aggregation:</b>How fine-grained should the data be? The default is a per-second resolution for heart rate and per-minute for everything else. But you can also choose to aggregate per minute for everything, per hour or per day.</li>
    </ul>
    <b>IMPORTANT:</b> Please don't change the <i>Export format</i>. The default is <i>JSON</i> and this application expects the data to arrive as in this format before transforming it into regular CSV files. The reason for this is that the CSV export of <i>Auto Export</i> can not deliver data that's more fine-grained than a per-day aggregate.
    </p>
    <br/>
    {% load static %}
    <img width="49%" src="{% static 'img/howto1.jpg'%}"/>
    <img width="49%" src="{% static 'img/howto2.jpg'%}"/>
  </p>
  </div>


{% endif %}

{% endblock main %}
